body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #cc0000;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    width: 100%;
}

.form-container {
    flex: 1;
    max-width: 400px;
    padding: 25px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.mensaje-container {
    flex: 1;
    max-width: 400px;
    padding: 120px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    background-color: #cc0000;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #990000;
}

h2 {
    color: #cc0000;
    text-align: center;
    font-size: 1.8rem;
}

pre {
    max-width: 450px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto; /* Agrega scroll si el contenido es más grande */
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 120px;
    height: auto;
}

.copy-button {
    background-color: #cc0000;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 10px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: black;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .form-container, .mensaje-container {
        max-width: 100%;
    }
}


